<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Active</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList$ | async">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.active}}</td>

      <td>
        <div class="btn-group">
          <button type="button" [routerLink]="[product.id]"  class="btn btn-info">
          <i class="fa fa-edit"></i>
        </button>
          <button type="button" class="btn btn-danger">
          <i class="fa fa-trash"></i>
        </button>
<button (click)="onClickMe()" type="button" class="btn btn-success"><i class="fa fa-success"></i>Click Me!</button>{{clickMessage}}

        </div>
      </td>
    </tr>
    <tr>


    </tr>
  </tbody>
</table>
